body{
   text-align: center;  
   font-size: 1.5rem;
}
header{
    background-color: aqua;
    height: 150px;
    margin: none;
}
nav>ul{
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: beige;
    align-items: center;
    margin: 0;
    box-shadow: -3px 3px 12px black;
    margin-bottom: 2rem;
    list-style: none;
}
#IMC,
#LeafImg,
#calKm{
    width: 500px;

}

article{
    
    box-shadow: 3px 3px 12px black;
    width: 500px;
    margin: auto;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 12px;
}
a{text-decoration: none;}